The Python community is made up of members from around the globe with a diverse set of skills, personalities, and experiences. It is through these differences that our community experiences great successes and continued growth. When you're working with members of the community, this Code of Conduct will help steer your interactions and keep Python a positive, successful, and growing community.

<h3 class="py-2">Our Community</h3>

Members of the Python community are open, considerate, and respectful.
Behaviours that reinforce these values contribute to a positive environment, and include:

<ul class="py-1">
    <li>Being open. Members of the community are open to collaboration, whether it's on PEPs, patches, problems, or otherwise.</li>
    <li>Focusing on what is best for the community. We're respectful of the processes set forth in the community, and we work within them.</li>
    <li>Acknowledging time and effort. We're respectful of the volunteer efforts that permeate the Python community. We're thoughtful when addressing the efforts of others, keeping in mind that often times the labor was completed simply for the good of the community.</li>
    <li>Being respectful of differing viewpoints and experiences. We're receptive to constructive comments and criticism, as the experiences and skill sets of other members contribute to the whole of our efforts.</li>
    <li>Showing empathy towards other community members. We're attentive in our communications, whether in person or online, and we're tactful when approaching differing views.</li>
    <li>Being considerate. Members of the community are considerate of their peers -- other Python users.</li>
    <li>Being respectful. We're respectful of others, their positions, their skills, their commitments, and their efforts.</li>
    <li>Gracefully accepting constructive criticism. When we disagree, we are courteous in raising our issues.</li>
    <li> Using welcoming and inclusive language. We're accepting of all who wish to take part in our activities, fostering an environment where anyone can participate and everyone can make a difference.</li>
</ul>

<h3 class="py-2">Our Standards</h3>

Every member of our community has the right to have their identity respected. The Python community is dedicated to providing a positive experience for everyone, regardless of age, gender identity and expression, sexual orientation, disability, physical appearance, body size, ethnicity, nationality, race, or religion (or lack thereof), education, or socio-economic status.
For more information check out the full Python Community Code of Conduct
