<p>Check out our toolkits and guides. These resources are full of recommendations, tips, and curated resources put together by experienced Python educators.</p>
<p></p>
{% load static %}
<p><a href="{% static 'guides/what_works_toolkit.pdf' %}">What Works in Teaching Python Toolkit</a></p>
<p>Evidence-based teaching strategies</p>
<p><a href="{% static 'guides/Take-Action-Toolkit.pdf' %}">Take Action Toolkit</a></p>
<p>Actions that support CS instruction at the primary and secondary levels</p>
<p><a href="{% static 'guides/Python-Platform-Comparison.pdf' %}">Platforms for Teaching Python Guide</a></p>
<p>A guide to selecting the right programming platform for your educational context</p>
<p><u>Inclusive Teaching Practices Guide</u> - <b>Coming Soon</b></p>
<p>A guide to planning with cultural knowledge, linguistic diversity, and learning differences in mind </p>
