<p>Check out our toolkits and guides. These resources are full of recommendations, tips, and curated resources put together by experienced Python educators.</p>
<p></p>
<p style="color:blue"><u>What Works in Teaching Python Toolkit</u></p>
<p>Evidence-based teaching strategies</p>
<p style="color:blue"><u>Take Action Toolkit</u></p>
<p>Actions that support CS instruction at the primary and secondary levels</p>
<p style="color:blue"><u>Inclusive Teaching Practices Guide</u></p>
<p>A guide to planning with cultural knowledge, linguistic diversity, and learning differences in mind </p>
<p style="color:blue"><u>Choosing a Programming Platform Guide</u></p>
<p>A guide to selecting the right programming platform for your educational context</p>
