{% extends "resources/base.html" %}

{% block content %}

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting
        a new one.</p>

    <form method="post">{% csrf_token %}

        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Your email</label>
            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" maxlength="150" id="email" required>
            </div>
        </div>

        <button type="submit" class="btn btn-info" id="submit_password_reset">Submit</button>

    </form>


{% endblock content %}

