{% extends "resources/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-body">

                <form method="post">{% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for field in form %}
                                <div class="fieldWrapper">

                                    {{ field.errors }}
                                    {% if field.name == "underrep" %}
                                        Do you work primarily with learners from a group underrepresented in the tech industry?
                                    {% elif field.name == "psf_member" %}
                                        Are you a member of the Python Software Foundation?
                                    {% else %}
                                        {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                        {% endfor %}


                        <input type="submit" class="btn mt-1 d-block" value="Save"  />

                    </form>
        </div>
      </div>



{% endblock content %}