{% extends "resources/base.html" %}

{% block page_title %}Profile: {{profile.user.username}}{% endblock page_title %}

{% block content %}

    <div class="card">
        <div class="card-body">

            {% if profile.user.first_name or profile.user.last_name %}
                <h4 class="card-title python-blue">{{ profile.user.first_name }} {{ profile.user.last_name }}
                    ({{profile.user.username}})
                </h4>
            {% else %}
                <h4 class="card-title python-blue">{{profile.user.username}}</h4>
            {% endif %}

            {% if profile.user == request.user %}
                <a href="{% url 'profile_update' username=request.user.username %}">
                    <button type="button" class="btn d-block my-1 navbar-btn">Edit your profile</button></a>
            {% endif %}

            {% if profile.country %} <p><b>Country</b>: {{ profile.country }}</p> {% endif %}
            {% if profile.roles %} <p><b>Roles</b>: {{ profile.roles }}</p> {% endif %}
            {% if profile.populations %} <p><b>Populations worked with</b>: {{ profile.populations }}</p> {% endif %}
            {% if profile.underrep %}
                <p><b>This user works primarily with learners from a group underrepresented in the tech industry.</b></p>
            {% endif %}
            {% if profile.psf_member %}
                <p><b>This user is a member of the Python Software Foundation.</b></p>
            {% endif %}

        </div>
      </div>

      <div class="card">
            <div class="card-body">

                    <h4 class="card-title python-blue">Resources submitted by {{ profile.user.username }}</h4>

                    <ul class="list list-spaced list-divided card-list">
                        {% for resource in profile.user.resource_set.all %}
                        <li class="list-item">
                            <a href="{% url 'resource_detail' pk=resource.pk %}" class="python-link">
                                {{ resource.title }}</a></li>
                        {% empty %}
                            <p>This user hasn't submitted any resources yet.</p>
                        {% endfor %}
                    </ul>
            </div>
        </div>

{% endblock content %}