<form method="post">{% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.errors }}

    <!-- Required fields -->
    {% for field in form %}
        {% if field.field.required %}
            {% include "resources/field_include.html" with field=field %}
        {% elif not field.field.required %}
            {% include "resources/field_include.html" with field=field %}
        {% endif %} 

    {% endfor %}

    <!-- Optional fields -->

    <!--<button type="button" onclick="showFields()" class="btn my-1" id="optional_fields_button">
        Show optional fields</button> -->

<span id="optional_fields" style="display: none">
    {% for field in form %}
        {% if not field.field.required %}
            {% include "resources/field_include.html" with field=field %}
        {% endif %}
    {% endfor %} 
</span> 

<input type="submit" class="btn mt-1 d-block" value="Save"  />

</form>