{% extends "base.html" %}

{% block app_content %}
    <h1>Connect</h1>
   
    <div><p>This page is where anyone interested in Python in education can get connected.</p> 

   <p>This section may include:</p> 	
	<ul>
	    <li>#PythoninEdu Twitter/Instagram roll</li>
	    <li>Link to join Slack community</li>
	    <li>Announcement & help forum (viewable by anyone, only logged-in users can post</li>
	    <li>Information on contributing to this project</li>
	    <li>The full text of the PSF code of conduct</li>
	 
	 </ul>

	<p>The goal is to provide a space for connection while leveraging exsisting communities.</p>  

	</div>
  
{% endblock %}