{% extends "base.html" %}

{% block app_content %}
    <h1>Getting Started</h1>
   
    <div><p>This page will be organized by the of the educator and will include getting started guides for each. </p>
    <p>Settings/roles include:</p> 
	<ul>
	    <li>K-12</li>
	    <li>Higher Education</li>
	    <li>Industry</li>
	    <li>Volunteer/Mentorship</li>
	    <li>Educational Technology</li>
	    <li>Specialized Settings</li>
	 </ul>

	<p>This section will also include teaching tips, inclusivity guides, links to professional certifications and education standards, and similar types of resources.</p>  

	</div>
  
{% endblock %}