{% extends "base.html" %}

{% block app_content %}
    <h1>Welcome to Python in Education!</h1>


    <div class="container">
    	<p>Are you here as</p>
        <div class="row">
           <div class="col">
           	   <img src="/static/assets/snake_teach.png" alt="a snake at a blackboard" width="200" height="250">
               An educator?   
               <div data-cfw="accordion">
                   <h1><a href="#accordion0" data-cfw="collapse" class="open">Educator</a></h4>
                   <div id="accordion0" class="collapse">
                   Customized welcome & site overview
                   </div>
               </div>
           </div>
           <div class="col">
           	<img src="/static/assets/snake_comp.png" alt="a snake working on a laptop" width="200" height="250">
              A learner? 
              <div data-cfw="accordion">
                  <h1><a href="#accordion0" data-cfw="collapse" class="open">Learner</a></h4>
                  <div id="accordion0" class="collapse">
                   Customized welcome & link to independent learning resources
                  </div>
              </div>
           </div>
        </div>
    </div>

    <h2>Python in Education</h2>
    <p>This site will be the PSF's hub for all things education. It will serve as a one-stop-shop for educator resources and development, learning materials, and an active community of Python educators from around the globe.</p>

    <h2>Contributors Welcome!</h2>
    <p>Are you interested in contributing to the Python in Education site? The site will officially launch in May 2021. There are plenty of opportunities to be part of the initial development. A diverse group of contributors is invaluable to our user-centered approach. No matter what your area of expertise or experience level, we hope tha tyou will get involved:</p>
    <p>1. Join our <a href="https://join.slack.com/t/pythoneducators/shared_invite/zt-80fa68ea-jT4dTxgdGBshz9jft13S~g">#python_in_education-contributors</a> Slack Channel</p>
    <p>2. Check out our site and open issues on our <a href="https://github.com/psf/python-in-edu">python-in-edu</a> Github repo.</p>
 

    <p>The Python Software Foundation is the non-profit organization behind Python and its community. The PSF holds and maintains related trademarks, produces PyCon US, maintains community infrastructure, gives out grants to Pythonistas all over the world, and much more. <a href="https://www.python.org/psf/annual-report/2019">Check out the PSF's 2019 impact report</a> to learn more. In 2019, the PSF established a <a href="http://pyfound.blogspot.com/2019/04/update-on-python-in-education-proposal.html">board committee</a> to improve Python's foothold in education. education.python.org was one of the initiatives the board committee funded. <a href="https://www.python.org/psf/get-involved/">Click here</a> to learn ways you can get involved with or stay informed about the PSF. </p>



{% endblock %}