{% extends "base.html" %}{% import 'bootstrap/wtf.html' as wtf %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>
    <div class="row">
        <div> class="col-md-4"
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post">
    	{{ form.hidden_tag() }}
    	<p>
    		{{ form.username.label }}<br>
    		{{ form.username(size=64) }}<br>
    		{% for error in form.username.errors %}
    		<span style="color: red;">[{{ error }}]</span>
    		{% endfor %}
    	</p>
    	<p>
    		{{ form.password.label }}<br>
    		{{ form.password(size=32) }}
    	</p>   	
    	<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    	<p>{{ form.submit() }}</p>	
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        <p>
        Forgot Your Password?
        <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
    </p>
    </form>

{% endblock %}
