{% extends "base.html" %}

{% block app_content %}
    <h1>Python Education Resources</h1>

    <div><p>This will be a curated set of resources searchable </p>

    <p>It will be searchable by</p> 
	<ul>
	    <li>Age level/experience level</li>
	    <li>Role/context (K-12, industry, etc.)</li>
	    <li>Type of resource (curriculum, video tutorial, etc.)</li>
	    <li>Language</li>
	    <li>Tech requirements</li>
	    <li>Topic (data sci, AI, microcontrollers, etc.)</li>
    
    <p>Over time, we can build up descriptions of the resources. Users can log in to submit a description or review a resource.</p>
    </div>

{% endblock %}